<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ljy.domain.ShoppingCart">
	<sql id="totalColumn">shoppingcart_id,user_id,goods_id,date</sql>
	
	<sql id="totalVar">#{shoppingCartID},#{userID},#{goodsID},#{date}</sql>
	<insert id="addGoods" parameterType="org.ljy.domain.Goods">
		insert into shoppingcarts(
		<include refid="totalColumn"/>
		) values(
		<include refid="totalVar"/>
		)
	</insert>
	
	<delete id="deleteGoods">
		
	</delete>
</mapper>